@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

#content5-26 .mbr-header .mbr-header__text {
  text-align: center;
  color: #efefef;
}
#content5-26 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-26 .mbr-article {
  color: #fff;
}
#content5-26 .mbr-article P {
  color: #ff3200;
  font-size: 11px;
}
#features1-27 .mbr-section__col .mbr-header__text {
  color: #efefef;
}
#features1-27 P {
  color: #ff3200;
}
#footer1-33 P {
  font-family: 'Noto Sans', sans-serif;
  color: #efefef;
  font-size: 11px;
  text-align: left;
}



#menu-12 .mbr-brand__name {
  font-size: 16px;
}
#menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #2b00ff;
}
#menu-12 .mbr-navbar__section {
  background: #2b00ff;
}
#menu-12 .mbr-brand__name a {
  font-size: 11px;
  font-family: 'Noto Sans', sans-serif;
}
#menu-12 .mbr-navbar__items a {
  font-family: 'Noto Sans', sans-serif;
  font-size: 11px;
}
#content5-60 .mbr-header .mbr-header__text {
  text-align: left;
  color: #efefef;
  font-size: 16px;
}
#content5-60 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-60 .mbr-article {
  color: #fff;
}
#content5-60 .mbr-article P {
  font-size: 11px;
  color: #ff3200;
}
#content5-61 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-61 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-61 .mbr-article {
  color: #fff;
}
#content5-61 .mbr-article P {
  font-size: 11px;
  color: #ff3200;
}
#content5-62 .mbr-header .mbr-header__text {
  text-align: left;
  color: #efefef;
  font-size: 16px;
}
#content5-62 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-62 .mbr-article {
  color: #fff;
}
#content5-62 .mbr-article P {
  font-size: 11px;
  color: #ff3200;
}
#content5-63 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-63 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-63 .mbr-article {
  color: #fff;
}
#content5-63 .mbr-article P {
  font-size: 11px;
  color: #ff3200;
}
#footer1-17 P {
  font-family: 'Noto Sans', sans-serif;
  color: #efefef;
  font-size: 11px;
  text-align: left;
}



#menu-21 .mbr-brand__name {
  font-size: 16px;
}
#menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #2b00ff;
}
#menu-21 .mbr-navbar__section {
  background: #2b00ff;
}
#menu-21 .mbr-brand__name a {
  font-size: 11px;
  font-family: 'Noto Sans', sans-serif;
}
#menu-21 .mbr-navbar__items a {
  font-family: 'Noto Sans', sans-serif;
  font-size: 11px;
}
#content5-65 .mbr-header .mbr-header__text {
  text-align: left;
  color: #efefef;
  font-size: 16px;
}
#content5-65 .mbr-header .mbr-header__subtext {
  text-align: left;
  color: #ff3200;
  font-size: 11px;
}
#content5-65 .mbr-article {
  color: #fff;
}
#content5-64 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-64 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-64 .mbr-article {
  color: #fff;
}
#content5-64 .mbr-article P {
  font-size: 11px;
  color: #ff3200;
}
#content5-25 .mbr-header .mbr-header__text {
  text-align: left;
  color: #efefef;
}
#content5-25 .mbr-header .mbr-header__subtext {
  text-align: left;
  color: #ff3200;
  font-size: 11px;
}
#content5-25 .mbr-article {
  color: #fff;
}
#content5-27 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-27 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-27 .mbr-article {
  color: #fff;
}
#content5-27 .mbr-article P {
  font-size: 11px;
  color: #ff3200;
}
#footer1-28 P {
  font-family: 'Noto Sans', sans-serif;
  color: #efefef;
  font-size: 11px;
  text-align: left;
}



#menu-28 .mbr-brand__name {
  font-size: 16px;
}
#menu-28.mbr-navbar--stuck .mbr-navbar__section {
  background: #2b00ff;
}
#menu-28 .mbr-navbar__section {
  background: #2b00ff;
}
#menu-28 .mbr-brand__name a {
  font-size: 11px;
  font-family: 'Noto Sans', sans-serif;
}
#menu-28 .mbr-navbar__items a {
  font-family: 'Noto Sans', sans-serif;
  font-size: 11px;
}
#msg-box4-57 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-57 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-57 .mbr-article {
  color: #ffffff;
}
#content5-56 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-56 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-56 .mbr-article {
  color: #fff;
}
#content5-56 .mbr-article P {
  font-size: 11px;
  color: #ff3200;
  text-align: left;
}
#content5-54 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-54 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-54 .mbr-article {
  color: #fff;
}
#content5-54 .mbr-article P {
  font-size: 11px;
  color: #ff3200;
}
#footer1-33 P {
  font-family: 'Noto Sans', sans-serif;
  color: #efefef;
  font-size: 11px;
  text-align: left;
}


#menu-44 .mbr-brand__name {
  font-size: 16px;
}
#menu-44.mbr-navbar--stuck .mbr-navbar__section {
  background: #2b00ff;
}
#menu-44 .mbr-navbar__section {
  background: #2b00ff;
}
#menu-44 .mbr-brand__name a {
  font-size: 11px;
  font-family: 'Noto Sans', sans-serif;
}
#menu-44 .mbr-navbar__items a {
  font-family: 'Noto Sans', sans-serif;
  font-size: 11px;
}
#content5-50 .mbr-header .mbr-header__text {
  text-align: center;
  color: #efefef;
  font-size: 11px;
}
#content5-50 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-50 .mbr-article {
  color: #fff;
}
#content5-50 .mbr-article UL {
  color: #ff3200;
  font-size: 11px;
}
#content5-50 .mbr-article P {
  color: #ff3200;
  font-size: 11px;
}
#content4-52 .mbr-section__col .mbr-header__text {
  color: #ff3200;
  font-size: 11px;
}
#content4-52 P {
  color: #ff3200;
  font-size: 11px;
}
#content4-52 .mbr-section-title .mbr-header__text {
  color: #efefef;
  font-size: 13px;
}
#content4-52 .mbr-section-title .mbr-header__text SPAN {
  font-size: 11px;
}
#features1-53 .mbr-section__col .mbr-header__text {
  color: #ff3200;
  font-size: 11px;
}
